html,
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* width: 100%; */
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header{
  /* padding:20px; */
    /* width:100%; */
    display:flex;
    border: 2px solid black;
    /* border-radius: 10px; */
    /* margin-bottom: 20px; */
    padding: 10px;

}

.img1{
    /* align-items: center; */
    /* width: 160px;
    height: 80px; */
    flex:7;
    /* display: flex; */
}

.header img{
  
  width: 160px;
  height: 80px;
  align-items: center;

}



nav{
    /* justify-self: right; */
    /* flex:1; */
    align-items: center;
    display: flex;
    gap:1rem;
}

nav a {
  font-size: large;
    text-decoration: none;
    flex:1;
    color: rgb(66, 56, 215);
    font-weight: 600;
    /* justify-self:center; */
}

.container{
  /* width: 100%; */
  padding:20px;
}

.container h3{
  /* width:100%; */
  
  color: black;
}

.container h1{
  /* width:100%; */
  text-align: center;
  /* color: rgb(66, 56, 215); */
  color: black;
  /* position: relative; */
}


.observation-form{
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  padding:2rem;
  font-size: 20px;
  gap: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  /* color: rgb(117, 186, 247); */
  position: relative;

}

.observation-form div{
  margin-top: 1rem;
}

.observation-form input{
  margin-top: 1rem;
  width: 26vw;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 0.5rem;
  padding: 5px;
  font-size: medium;
}

.observation-form select{
  margin-top: 1rem;
  width: 15vw;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 0.5rem;
  font-size: medium;
}



.submit-button{
  position:absolute;
  
  bottom: 10px;
  right: 10px;
  
  /* margin-bottom:1rem; */
  min-width:10vw;
  height: 5vh;
}

.observation-form-button{
  width: 100%;
  height: 80%;
  border-radius: 10px;
  font-size:medium;
  font-weight: 300;
}

button:hover{
  background-color: black;
  color:aliceblue;
} 

/* Login Page */

.adjustment{
  display:flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  padding: 2.5rem;
  

}


.login-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin-top: 100px;
}

.login-container h2 {
  /* color: rgb(117, 186, 247); */
  
  color: black;
  margin-bottom: 20px;
}

.login-input {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: rgb(52, 52, 52);
  color:white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.login-button:hover {
  background-color: white;
  color: black;
}

.menu-container{
  width: 250px;
  border: 2px solid rgba(0,0,0,0.9);
  overflow-y: scroll;
  padding: 8px;
  height:83vh;
}

.menu-heading{
  text-align: center;
  /* display: inline; */
}
.menu-heading h2{
  text-align: center;
  width: auto;
  display: inline;
  margin-left: 5px;
}
.menu-heading img{
  display: inline;

}

.menu-container ul{
  padding-left: 20px;
}


.menu-container ul li{
  list-style: none;
  margin: 10px 0;
  
}

.menu-container ul li a{
  text-decoration: none;
  font-size:medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}

.menu-container ul li a:hover{
  color:rgb(66, 56, 215)
}


  /* Tinting */

.custom-container {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  margin: 20px; 
  position: relative; 
}
.box-submit-button {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.5); 
  border: none; 
  color: #000; 
}
.enter-details {
  position: absolute;
  top: 10px; 
  left: 55px; 
  margin:20px;
  padding:30px;
}